body{
background-color: black;

}
.line, .line2{
    width: 500px;
    height: 10px;
    border-top: 2px dashed white;
    top: 20%;
    left: 50px;
    
    position: absolute;
    animation: lineani 3s infinite linear;
}
.line2{
    top: 30%;
    left: 50%;
    
}
@keyframes lineani{
    from{
        transform: translate(0);
    }
  
    to{
        transform: translate(260px);
       left: -100px;
    }
   
}
.road1{
    width: 300%;
    height: 50px;
    top: 80%;
    left: 0;
    position: absolute;
    border-top: 12px dashed white;
    animation: road1 5s infinite linear;
    

}
@keyframes road1
{
    from
    {
        left: 0px;
    }
    to
    {
        left: -1200px;
    }
}
/* @keyframes road2
{
    from
    {
        left: 0px;
    }
    to
    {
        left: 5139px;
    }
} */
/* @keyframes roadani{
    from{
      left: 0;
    }
    to{
        
       left: px;
        
    }
 } */
 /* .road2{
    width: 100%;
    height: 50px;
    top: 80%;
    position: absolute;
    border-top: 12px dashed white;
    animation: roadani2 10s infinite linear reverse;
   left: 0;
} */
/* @keyframes roadani2{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(10px);
       
        
    }
 } */
.pacman{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #c264b4;
    top: 62%;
    left: 40%;
    position: absolute;
    animation: bounce 0.9s infinite linear;
}
@keyframes bounce{
    0%, 20%, 40%, 60%, 80%, 100%{transform:translateY(0);}
    40% {transform: translateY(-37px);}
    60% {transform: translateY(-20px);}
 
  }

.eye{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0e060c;
    top: 23%;
    left: 45%;
    position: absolute;

}
.mouth{
    background-color: black;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 21%;
    top: 14%;
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    animation: mouthani 0.8s infinite;
    
}
@keyframes mouthani {
    0% {
      clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
    25% {
      clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
    }
    
    50% {
      clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
    }
    
    75% {
     clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
    }
    
    100% {
     clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
  }
.food{
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 67%;
    left: 50%;
   animation: foodani 0.7s infinite;
}
@keyframes foodani{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(-50px);
        opacity: 0;
    }
}

  